h1 {
  background-color: chartreuse;
}

.list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.item {
  display: inherit;
  height: 100px;
  width: 200px;
  border: 5px solid #adadad;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.item1:hover {
  height: 15rem;
}
